<?xml version='1.1' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.folder.Folder plugin="cloudbees-folder">
    <description>CyberArk DisCo Discovery operations folder with folder-scoped credentials.</description>
    <properties>
        <com.cloudbees.hudson.plugins.folder.properties.FolderCredentialsProvider_-FolderCredentialsProperty plugin="cloudbees-folder">
            <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
                <entry>
                    <com.cloudbees.plugins.credentials.domains.Domain>
                        <specifications/>
                    </com.cloudbees.plugins.credentials.domains.Domain>
                    <java.util.concurrent.CopyOnWriteArrayList>
                        <org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials">
                            <scope>GLOBAL</scope>
                            <id>disco-operations-secret</id>
                            <description>CyberArk DisCo operations secret text credential</description>
                            <secret>disco-operations-secret-value</secret>
                        </org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
                    </java.util.concurrent.CopyOnWriteArrayList>
                </entry>
            </domainCredentialsMap>
        </com.cloudbees.hudson.plugins.folder.properties.FolderCredentialsProvider_-FolderCredentialsProperty>
    </properties>
    <folderViews class="com.cloudbees.hudson.plugins.folder.views.DefaultFolderViewHolder">
        <views>
            <hudson.model.AllView>
                <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
                <name>All</name>
                <filterExecutors>false</filterExecutors>
                <filterQueue>false</filterQueue>
                <properties class="hudson.model.View$PropertyList"/>
            </hudson.model.AllView>
        </views>
        <tabBar class="hudson.views.DefaultViewsTabBar"/>
    </folderViews>
    <healthMetrics/>
    <icon class="com.cloudbees.hudson.plugins.folder.icons.StockFolderIcon"/>
</com.cloudbees.hudson.plugins.folder.Folder>